@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Outfit", ui-sans-serif, system-ui, sans-serif;

  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-brand: var(--brand);
  --color-brand-foreground: var(--brand-foreground);
}

:root {
  font-family: "Outfit", ui-sans-serif, system-ui, sans-serif;
  
  --background: #ffffff;
  --surface: #f8fafc;
  --foreground: #0f172a;
  --muted: #64748b;
  --brand: #00509d;
  --brand-foreground: #ffffff;
}

.dark {
  --background: #09090b;
  --surface: #18181b;
  --foreground: #f8fafc;
  --muted: #a1a1aa;
  --brand: #38bdf8;
  --brand-foreground: #000000;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}