@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-brand: var(--brand);
  --color-brand-foreground: var(--brand-foreground);
}

:root {
  --background: #ffffff;
  --surface: #f4f4f5;
  --foreground: #09090b;
  --muted: #71717a;
  --brand: #00509d;
  --brand-foreground: #ffffff;
}

.dark {
  --background: #121212;
  --surface: #1e1e1e;
  --foreground: #ededed;
  --muted: #a3a3a3;
  --brand: #60a5fa;
  --brand-foreground: #000000;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}